# Git and IDE
.git/
.gitignore
.vscode/
.idea/

# Node.js
node_modules/
npm-debug.log
yarn-error.log
pnpm-debug.log

# Build artifacts
dist/
build/
coverage/



# Docs
*.md
*.docx
*.txt

# Environment
.env
.env.*
!/.env.example

# Docker specific
Dockerfile
.dockerignore

# Additional files
README.md
.nyc_output
logs 